@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

body {
  background-color: hsl(0, 0%, 10%);
  overflow: hidden;
}

.container {
  display: flex;
}

.main-content {
  height: 100vh;
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.nav-content {
  background-color: hsl(0, 0%, 12%);
  height: 100vh;
  width: calc(100vw * 1 / 6);
  position: relative;
  transition: width 0.5s ease;
}

.nav-content-toggle {
  width: 0;
  transition: 0.6s ease;
}

.nav-content-toggle.closed ~ .main-content {
  width: 100%;
}

.menu {
  cursor: pointer;
  position: absolute;
  left: -60px;
  top: 40px;
  font-size: 28px;
  color: #ffffff;
}

nav ul {
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

ul li {
  width: 80%;
  border-radius: 10px;
}

ul li a {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-content li:hover {
  background-color: #ffffff59;

  transition: 0.2s;
}
a svg {
  width: 20px;
}

li a {
  text-decoration: none;
  color: #fff;
}

.tasks-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 5vh;
}

.tasks-container h2 {
  font-size: 2rem;
  font-weight: 500;
}

.tasks-container p {
  font-size: 1rem;
  color: #ffffff83;
}

.input-section {
  display: flex;
  gap: 8px;
}

.input-section input {
  outline: none;
  color: #ffffff;
  flex: 22;
  padding: 4px 10px;
  font-size: 1rem;
  background: hsl(0, 0%, 22%);
  border: none;
  border-radius: 5px;
}

.input-section button {
  flex: 1;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-section button:hover {
  transform: translateY(-2px);
}

.tasks-box {
  background-color: hsl(0, 0%, 13%);
  border-radius: 12px;
  padding: 20px;
  height: 55vh;
  overflow-y: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.task-list li {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4px 12px 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 4px;
  width: 100%;
  cursor: pointer;
}

.task-list li:hover {
  background: hsl(0, 0%, 16%);
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.4;
  transition: 1s;
}

.task-list i {
  width: 10px;
  padding: 0 20px;
}

.task-btn span {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.task-btn span:hover {
  transform: scale(1.05);
}
